<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMemberLabel" jhiTranslate="systemGatewayApp.member.home.createOrEditLabel">Create or edit a Member</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!member.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="member.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.memberKey" for="field_memberKey">Member Key</label>
            <input type="text" class="form-control" name="memberKey" id="field_memberKey"
                [(ngModel)]="member.memberKey" required />
            <div [hidden]="!(editForm.controls.memberKey?.dirty && editForm.controls.memberKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.memberKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.memberName" for="field_memberName">Member Name</label>
            <input type="text" class="form-control" name="memberName" id="field_memberName"
                [(ngModel)]="member.memberName" required />
            <div [hidden]="!(editForm.controls.memberName?.dirty && editForm.controls.memberName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.memberName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.memberSurname" for="field_memberSurname">Member Surname</label>
            <input type="text" class="form-control" name="memberSurname" id="field_memberSurname"
                [(ngModel)]="member.memberSurname" required />
            <div [hidden]="!(editForm.controls.memberSurname?.dirty && editForm.controls.memberSurname?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.memberSurname?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.dateCreated" for="field_dateCreated">Date Created</label>
            <div class="d-flex">
                <input id="field_dateCreated" type="datetime-local" class="form-control" name="dateCreated" [(ngModel)]="member.dateCreated"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.dateCreated?.dirty && editForm.controls.dateCreated?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateCreated?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateCreated?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.dateModified" for="field_dateModified">Date Modified</label>
            <div class="d-flex">
                <input id="field_dateModified" type="datetime-local" class="form-control" name="dateModified" [(ngModel)]="member.dateModified"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.dateModified?.dirty && editForm.controls.dateModified?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dateModified?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dateModified?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="systemGatewayApp.member.updatedBy" for="field_updatedBy">Updated By</label>
            <input type="text" class="form-control" name="updatedBy" id="field_updatedBy"
                [(ngModel)]="member.updatedBy"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
